<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My first project in django</title>
</head>

<body>

  <h1>my nigga</h1>
  <!--This h1 html code will show in all html files. for e.g in share.html, view.html-->
  {% include 'navbar.html' %}
  <!--this will put navbar.html code here-->

  {% block content %}
  <!--this will put home.html code here-->{% endblock %}



</body>

</html>